<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>jQuery Form Lecture</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js" charset="utf-8"></script>

    <link rel="stylesheet" href="style.css">

</head>

<body>
    <main ng-app="employeeApp">
        <section ng-controller="EmpController as emp">


            <h1>Employee Information</h1>
            <form id="employee-info" name = "employeeForm" novalidate>
                <label for="employee-first-name">First Name:</label>
                <input type="text" id="employee-first-name" name="firstName" ng-model="emp.info.firstName" required/>
                <span style = "color:red" ng-show = "employeeForm.firstName.$error.required">Required</span>

                <label for="employee-last-name">Last Name:</label>
                <input type="text" id="employee-last-name" name="lastName" ng-model="emp.info.lastName" required/>
                <span style = "color:red" ng-show = "employeeForm.lastName.$error.required">Required</span><br />

                <label for="employee-id">ID Number:</label>
                <input type="number" id="employee-id" name="id" ng-model="emp.info.id" required/>
                <span style = "color:red" ng-show = "employeeForm.id.$error.required">Required</span>

                <label for="employee-title">Position:</label>
                <input type="text" id="employee-title" name="position" ng-model="emp.info.position" required/>
                <span style = "color:red" ng-show = "employeeForm.position.$error.required">Required</span><br />

                <label for="employee-annual-salary">Annual Salery:</label>
                <input type="number" id="employee-annual-salary" name="salary" ng-model="emp.info.salary" required/>
                <span style = "color:red" ng-show = "employeeForm.salary.$error.required">Required</span>

                <button type="submit" <button ng-disabled = "employeeForm.firstName.$invalid || employeeForm.lastName.$invalid ||
                        employeeForm.id.$invalid || employeeForm.position.$invalid || employeeForm.salary.$invalid" ng-click="emp.createInfo()">Submit</button>

            </form>

            <table id="myTable">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Annual Salary</th>
                    <th></th>
                </tr>
                <tr ng-repeat="info in emp.infos">
                    <td>{{ info.firstName }}</td>
                    <td>{{ info.lastName }}</td>
                    <td>{{ info.id }}</td>
                    <td>{{ info.position }}</td>
                    <td>{{ info.salary | currency }}</td>
                    <td><button value="remove" class="btn-delete" ng-click="emp.removeRow(info)">Delete</button></td>
                </tr>
            </table>

            <table class="myTable2">
                <tr>
                    <th>
                        <h4>Monthly Salary Expenditure:</h4></th>
                    <th>
                        <h4 id="monthlyExpenditure">{{emp.totalSalary/12 | currency}}</h4></th>
                </tr>
            </table>
        </section>
    </main>
</body>

</html>
